@import "../variables";


@mixin font-face($font-name, $font-file) {
  @font-face {
    font-family: '$font-name';
    src: url('#{$font-path}/#{$font-file}.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
}


@mixin flex($justify-content: flex-start, $align-items: flex-start, $wrap: nowrap){
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $wrap;
}


@mixin link($h-color, $h-bg) {
  &:link {
    @content;
  }
  &:visited {
    @content;
  }
  &--active, &:hover {
    @content;
    color: $h-color;
    background-color: $h-bg;
  }
  &:active {
    @content;
  }
}