@import "../helpers/functions";
@import "../variables";


.logo {
  background-image: url("#{$img-path}/logo.svg");
  width: rem(64px);
  height: rem(64px);
  margin: rem(10px);
  display: inline-block;
  transition: all 400ms ease-in-out;
  &:hover {
    transform: rotate(360deg);
  }
}