@import "../helpers/functions";
@import "../helpers/mixins";


.menu {
  align-self: flex-end;
  @include flex(flex-end);

  &__item {
    color: darkgray;
    background-color: white;
    text-decoration: none;
    display: inline-block;
    padding: rem(15px) rem(20px);
    text-transform: uppercase;
    font-family: 'Roboto Light', sans-serif;
    font-size: rem(20px);
    transition: all 200ms ease-in;

    &:first-child {
      border-top-left-radius: rem(4px);
    }

    &:last-child {
      border-top-right-radius: rem(4px);
    }

    @include link(white, darkgray) {
      border-bottom: rem(3px) solid lightgreen;
    }
  }
}
